#Spartan 6
#NET "i2"  MAXSKEW = 100 ps;


#INST "tri3" BEL=C6LUT;
#INST "tri4" BEL=D6LUT;

#spartan3e
#INST "tri1" LOC=SLICE_X15Y10;
#INST "tri2" LOC=SLICE_X15Y10;
#INST "FDCE_inst1" LOC=SLICE_X15Y10;
#INST "FDCE_inst2" LOC=SLICE_X15Y10;
#INST "RST_DFF" LOC=SLICE_X15Y10;


#spartan6

#INST "lut_inst1" BEL=A6LUT;
#INST "lut_inst2" BEL=B6LUT;
INST "lut_inst1" LOC=SLICE_X28Y10;
INST "lut_inst2" LOC=SLICE_X28Y10;
#INST "FDCE_inst1" LOC=SLICE_X28Y10;
#INST "FDCE_inst2" LOC=SLICE_X28Y10;	
INST "RST_DFF" LOC=SLICE_X28Y10;	
INST "Q1_DFF" LOC=SLICE_X28Y10;
INST "Q2_DFF" LOC=SLICE_X28Y10;
